.equipment-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;

    &:not(:last-of-type) {
        margin-bottom: 20%;
    }




    // HOVER EFFECTS

    &:hover {

        .item-info {
            opacity: 1;
            transform: translateX(0%);
        }
        .item-image {
            filter: brightness(105%);
            background-color: $c_white;
            box-shadow: 0px 2px 14px rgba(255, 255, 255, 0.55);
            outline-color: $c_white_opaque1;

            &:after { opacity: 1; }
        }
        .item-other-options {
            width: 250%;
            z-index: 5;
            transition-delay: 0.15s;
    
            .other-option {
                transition-delay: 0.15s;
                background-color: $c_gray;

                img {
                    transition-delay: 0.15s;
                    opacity: 1;
                }
            }
        }
    }



    

    // ITEM INFO POPUP

    .item-info {
        opacity: 0;
        top: 0;
        left: 120%;
        width: 400px;
        max-width: 49vw;
        height: auto;
        color: $c_white;
        position: absolute;
        pointer-events: none;
        transform: translateX(-5%);
        transition: opacity 0.2s, transform 0.2s;

        * {
            user-select: none;
        }

        h3, p {
            margin: 0;
        }
        p {
            line-height: 1.3;
        }

        .item-info-header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            position: relative;
            padding: 3% 4.5%;

            > * {
                z-index: 1;
            }

            h3 {
                font-weight: 700;
                text-transform: uppercase;
                flex-basis: 100%;
            }
            p {
                flex-basis: 50%;
                
                &.item-info-header-category {
                    color: $c_white_opaque1;
                }
                &.item-info-header-rarity {
                    color: $c_white_opaque2;
                    text-align-last: right;
                }
            }

            &:after {
                content: '';
                top: 0;
                right: 0;
                width: 24px;
                height: 24px;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.25);
                clip-path: polygon(0 0, 100% 100%, 100% 0);
            }
        }
        

        .item-info-content {
            padding: 3% 4.5%;
            background-color: rgba(0, 0, 0, 0.5);

            h3 {
                display: flex;
                align-items: center;
                font-size: 3rem;

                @include xl {
                    font-size: clamp(2.2rem, 3.0vw, 3.0rem); 
                }

                span {
                    opacity: 0.65;
                    font-weight: normal;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    margin-left: 1rem;

                    font-size: 1.5rem;

                @include xl {
                    font-size: clamp(1.0rem, 3.0vw, 1.5rem); 
                }
                }
            }
            p {
                color: $c_white_opaque1;

                &.item-info-content-description {
                    font-style: italic;
                }
            }

            .item-info-content-stats {
                width: 100%;
                margin: 3% 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 3% 0;
                    padding-left: 2.5em;
                    position: relative;
                    border-top: 2px solid $c_white_opaque3;

                    &:last-child {
                        border-bottom: 2px solid $c_white_opaque3;
                    }

                    &:before {
                        content: '';
                        top: 50%;
                        left: 0.6em;
                        width: 0.55em;
                        height: 0.55em;
                        border-radius: 50%;
                        position: absolute;
                        background-color: $c_white_opaque2;
                        transform: translateY(-50%);
                        outline: solid;
                        outline-width: 0.16em;
                        outline-color: $c_white_opaque2;
                        outline-offset: 0.25em;
                    }

                    &:nth-child(2) {
                        &:before {
                            left: 0.7em;
                            width: 0.45em;
                            height: 0.45em;
                            border-radius: 0;
                            transform: translateY(-50%) rotate(45deg);
                            outline-offset: 0.2em;
                        }
                    }

                    p span {
                        color: $c_white;
                        margin-left: 0.5em;
                        font-weight: 700;
                        letter-spacing: -0.03em;
                    }
                }
            }

            .item-info-content-perks {
                margin-bottom: 0.5em;

                p {
                    color: $c_white;
                    padding-left: 2.2em;
                    position: relative;

                    &:not(:last-of-type) {
                        margin-bottom: 3.5%;
                    }

                    &:before {
                        content: '';
                        top: 0.65em;
                        left: 0.35em;
                        width: 0.9em;
                        height: 0.55em;
                        position: absolute;
                        background-color: $c_white;
                        transform: translateY(-50%) rotate(45deg);
                    }
                }
            }
        }
    }

    // Screen height compensation for the info containers
    &:nth-child(2) .item-info { top: -15%;}
    &:nth-child(3) .item-info { top: -30%; }
    &:nth-child(4) .item-info { top: -45%; }
    &:nth-child(5) .item-info { top: -60%; }







    // ITEM IMAGE / THUMBNAIL

    .item-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: $c_gray;
        padding: 3.5%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        outline-offset: 3px;
        outline-style: solid;
        outline-width: 2px;
        outline-color: transparent;
        transition: filter 0.12s, box-shadow 0.12s, outline 0.12s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            user-select: none;
        }
    }






    .item-other-options {
        //opacity: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        column-gap: 5%;
        top: 0;
        padding-right: 15%;
        right: 100%;
        width: 104%;
        height: auto;
        position: absolute;
        transition: 0.2s 0.0s;
        //border: solid salmon 1px;

        .other-option {
            width: 30%;
            margin-bottom: 5%;
            display: block;
            aspect-ratio: 1 / 1;
            position: relative;
            overflow: hidden;
            padding: 1.2%;
            outline-offset: 3px;
            outline-style: solid;
            outline-width: 2px;
            outline-color: transparent;
            background-color: rgba(0, 0, 0, 0.1);
            transition: background-color 0.2s 0.0s, filter 0.15s 0s, outline 0.15s 0s;

            img {
                opacity: 0;
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                user-select: none;
                transition: opacity 0.2s 0.0s;
            }

            &:hover {
                filter: brightness(110%);
                outline-color: $c_white_opaque1;
                background-color: rgba(255, 255, 255, 1.0);
            }

            &:nth-child(1) img { background-color: $c_purple; }
            &:nth-child(2) img { background-color: $c_blue; }
            &:nth-child(3) img { background-color: $c_green; }
            &:nth-child(4) img { background-color: $c_beige; }
            &:nth-child(5) img { background-color: $c_beige; }
            &:nth-child(6) img { background-color: $c_beige; }
        }

    }






    // ITEM RARITY STYLES

    &.equipment-item-exotic {
        .item-info-header {
            &:before {
                content: '';
                z-index: 0;
                opacity: 0.08;
                pointer-events: none;
                filter: invert(1);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: 200%;
                background-position: 25% 67%;
                background-repeat: no-repeat;
                background-image: url(/images/bg-emblem.svg);
            }
        }
        .item-image {
            padding: 4.5%;
            
            &:before {
                content: '';
                top: 50%;
                left: 50%;
                width: 150%;
                height: 150%;
                position: absolute;
                transform: translate(-50%, -50%) rotate(0deg);
                animation: item_exotic_image_gradient 4s linear infinite;
                background: linear-gradient(40deg, $c_gold 0%, $c_gold 20%, $c_white 50%, $c_gold 80%, $c_gold 100%);
            }
            @keyframes item_exotic_image_gradient {
                  0% { transform: translate(-50%, -50%) rotate(0deg);}
                100% { transform: translate(-50%, -50%) rotate(360deg);}
            }
        }
        .item-image img {
            background-color: $c_gold;
        }
        .item-info-header {
            background-color: $c_gold_opaque;
        }
    }
    &.equipment-item-legendary {
        .item-image img {
            background-color: $c_purple;
        }
        .item-info-header {
            background-color: $c_purple_opaque;
        }
    }
    &.equipment-item-rare {
        .item-image img {
            background-color: $c_blue;
        }
        .item-info-header {
            background-color: $c_blue_opaque;
        }
    }
    &.equipment-item-uncommon {
        .item-image img {
            background-color: $c_green;
        }
        .item-info-header {
            background-color: $c_green_opaque;
        }
    }
    &.equipment-item-common {
        .item-image img {
            background-color: $c_beige;
        }
        .item-info-header {
            background-color: $c_beige_opaque;
        }
    }
    

}
  






// RIGHT SIDE COLUMN (EQUIPMENT)

.content-column-right {
    .equipment-item {
        &:hover {
            .item-info {
                transform: translateX(0%);
            }
            .item-other-options {
                right: initial;
                left: 100%;
            }
        }

        .item-info {
            left: initial;
            right: 120%;
            transform: translateX(5%);
        }
        .item-other-options {
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: row;
            padding-left: 15%;
            padding-right: initial;
            right: initial;
            left: 100%;
        }
    }
}