.app-header {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 85px;
    position: relative;
    background-color: rgba(51, 57, 88, 0.7);

    .header-container {
        width: 100%;
        max-width: 1350px;
        padding: 0 1.5rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        &:before {
            content: '';
            opacity: 0.08;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: invert(1);
            position: absolute;
            background-size: 120%;
            background-position: 40% 41%;
            background-repeat: no-repeat;
            background-image: url(/images/bg-emblem.svg);
        }
    }


    .header-profile {
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: -1.9rem;

        @include lg {
            bottom: initial;
        }

        .header-profile-image {
            width: 100px;
            aspect-ratio: 1 / 1;
            border: solid 4px $c_blue;
            background-color: rgba(90, 90, 100, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            padding: 2%;
            margin-right: 3%;

            @include lg {
                width: 70px;
            }

            img {
                width: 380%;
                height: 380%;
                display: block;
                position: relative;
            }
        }

        .header-profile-info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            color: $c_white;

            @include lg {
                display: none;
            }

            h2 {
                margin: 0;
                line-height: 1;
                flex-basis: 100%;
            }
            .header-profile-stats {
                flex-basis: 100%;

                * {
                    margin: 0;
                    display: inline-block;

                    &:not(:first-of-type) {
                        margin-left: 2%;
                    }
                }
                span {
                    top: -1px;
                    width: 12px;
                    height: 12px;
                    position: relative;
                    display: inline-block;
                    margin-left: 0.3em;
                    margin-right: 0.35em;
                    background-color: $c_gold;
                    transform: rotate(45deg);
                }
            }
            .header-profile-level-bar {
                flex-basis: 100%;
                height: 22px;
                padding: 2px;
                margin-top: 2%;
                background-color: rgba(0, 0, 0, 0.2);
                border: solid 2px $c_white_opaque1;

                span {
                    width: 75%;
                    height: 100%;
                    display: block;
                    position: relative;
                    background-color: $c_blue_opaque;
                }
            }
        }
    }


    .header-logo {
        pointer-events: none;
    }

    nav {
        height: 100%;

        * {
            height: 100%;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;

        @include lg {
            display: none;
        }

        li {
            min-width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &.active {
                &:after {
                    content: '';
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    display: block;
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0.5);
                }

                p {
                    opacity: 1;
                }
            }

            p {
                opacity: 0.7;
                display: flex;
                align-items: center;
                font-size: 1.20rem;
                font-weight: 700;
                letter-spacing: 0.02rem;
                text-transform: uppercase;
                text-decoration: none;
                color: $c_white;
                padding: 0 1.5rem;
                cursor: default;
                user-select: none;

                @include xl {
                    font-size: clamp(0.9rem, 2.5vw, 1.2rem); 
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }


    .menu-hamburger {
        display: none;
        width: 70px;

        img {
            width: 55px;
        }

        @include lg {
            display: inline-block;
        }
    }

}
